
header {
    width: 95%;
    background-color: #dabeb3;
    color: white;
    padding: 5px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #dabeb3;
    flex-direction: column;
    align-items: center;
}

@keyframes textColorShift {
    0% {
        color: #c78304d8; /* Start color */
    }
    25% {
        color: #d05700c8; /* Intermediate color 1 */
    }
    50% {
        color: #901901c5; /* Intermediate color 2 */
    }
    75% {
        color: #dd2477b5; /* Intermediate color 3 */
    }
    100% {
        color: #850202d3; /* End color */
    }
}

.info {    
    overflow: hidden;
    white-space: wrap;
    width: 50%;
    position: relative;
   }

.marquee-container {
    overflow: hidden;
    white-space: nowrap;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

.marquee-container div {
    display: inline-block;
    margin-bottom: 10px;
    position: relative;
    opacity: 0; 
}

.marquee-1 { animation: scrollFromRight 31s linear infinite 0s; }
.marquee-2 { animation: scrollFromRight 35s linear infinite 9.75s; }
.marquee-3 { animation: scrollFromRight 33s linear infinite 18.5s; }
.marquee-4 { animation: scrollFromRight 37s linear infinite 24.25s; }
.marquee-5 { animation: scrollFromRight 35s linear infinite 30.6s; }
.marquee-6 { animation: scrollFromRight 35s linear infinite 38.75s; }
.marquee-7 { animation: scrollFromRight 35s linear infinite 43.5s; }
.marquee-8 { animation: scrollFromRight 36s linear infinite 49.25s; }
.marquee-9 { animation: scrollFromRight 34s linear infinite 53s; }
.marquee-10 { animation: scrollFromRight 35s linear infinite 60.75s; }
.marquee-11 { animation: scrollFromRight 30s linear infinite 64.5s; }
.marquee-12 { animation: scrollFromRight 36s linear infinite 70.25s; }
.marquee-13 { animation: scrollFromRight 37s linear infinite 75s; }
.marquee-14 { animation: scrollFromRight 32s linear infinite 82.75s; }
.marquee-15 { animation: scrollFromRight 30s linear infinite 88.5s; }
.marquee-16 { animation: scrollFromRight 35s linear infinite 92.25s; }

@keyframes scrollFromRight {
    0% { transform: translateX(100%); opacity: 1; }
    100% { transform: translateX(-100%); opacity: 1; }
}

h1 {
    font-size: 2em;
    font-family: helvetica;
    animation: textColorShift 6s infinite alternate;
}

p {
color:rgb(17, 17, 17);
font-family: Arial, Helvetica, sans-serif;
font-size: 10pt;
margin-bottom: 20px;
  }



div { text-align: center;
    color: #dabeb3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;

}


img {
    width: 60%;
    height: 60%;
}
