
header {
    width: 95 %;
    background-color: #ffffff;
    color: white;
    padding: 5 px;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

keyframes textColorShift {
    0% {
        color: #c78304d8; /* Start color */
    }
    25% {
        color: #d05700c8; /* Intermediate color 1 */
    }
    50% {
        color: #901901c5; /* Intermediate color 2 */
    }
    75% {
        color: #dd2477b5; /* Intermediate color 3 */
    }
    100% {
        color: #850202d3; /* End color */
    }
}
.info {    
    overflow: hidden;
    white-space: wrap;
    width: 50 %;
    position: relative;
   }
.marquee-container {
    overflow: hidden;
    white-space: nowrap;
    width: 50 %;
    position: absolute;
    top: 50 %;
    left: 50 %;
    transform: translate (-50 %, -50 %);
   
 }

.marquee-container div {
    display: inline-block;
    margin-bottom: 10 px; /* Adjust the spacing between marquee items */
    position: relative;
    opacity: 0; 
    
}

.marquee-1 { animation: scrollFromRight 31 s linear infinite 0 s; }
.marquee-2 { animation: scrollFromRight 35 s linear infinite 9.75 s; }
.marquee-3 { animation: scrollFromRight 33 s linear infinite 18.5 s; }
.marquee-4 { animation: scrollFromRight 37 s linear infinite 24.25 s; }
.marquee-5 { animation: scrollFromRight 35 s linear infinite 30.6 s; }
.marquee-6 { animation: scrollFromRight 35 s linear infinite 38.75 s; }
.marquee-7 { animation: scrollFromRight 35 s linear infinite 43.5 s; }
.marquee-8 { animation: scrollFromRight 36 s linear infinite 49.25 s; }
.marquee-9 { animation: scrollFromRight 34 s linear infinite 53 s; }
.marquee-10 { animation: scrollFromRight 35 s linear infinite 60.75 s; }
.marquee-11 { animation: scrollFromRight 30 s linear infinite 64.5 s; }
.marquee-12 { animation: scrollFromRight 36 s linear infinite 70.25 s; }
.marquee-13 { animation: scrollFromRight 37 s linear infinite 75 s; }
.marquee-14 { animation: scrollFromRight 32 s linear infinite 82.75 s; }
.marquee-15 { animation: scrollFromRight 30 s linear infinite 88.5 s; }
.marquee-16 { animation: scrollFromRight 35 s linear infinite 92.25 s; }

keyframes scrollFromRight {
    0 % { transform: translateX (100 %); opacity: 1; }
    100 % { transform: translateX (-100 %); opacity: 1; }
}

h1 {
    font-size: 2 em;
    font-family: helvetica;
    animation: textColorShift 6 s infinite alternate;
}

p {color: rgb (17, 17, 17);
font-family: Arial, Helvetica, sans-serif;
font-size: 10 pt;}



div { text-align: center;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;

}


img {
    width: 50 %;
    height: 50 %;
}
